@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');
$green: #b7d12a;
$blue: #022e3e;
$white: #ffffff;
$wrap: 1272px;
$mobWrap: 800px;

@mixin big {
	font-size: 80px;
	line-height: 100px;
	font-weight: normal;
	b {
		font-weight: bold;
	}
	@media (max-width: $mobWrap) {
		font-size: 34px;
		line-height: 44px;
	}
}
@mixin mid {
	font-size: 48px;
	line-height: 56px;
	font-weight: bold;
	b {
		font-weight: bold;
	}
	@media (max-width: $mobWrap) {
		font-size: 24px;
		line-height: 34px;
	}
}

@mixin standard {
	font-size: 24px;
	line-height: 34px;
	@media (max-width: 800px) {
		font-size: 16px;
		line-height: 24px;
	}
}

@mixin fadeHover {
	transition: all 0.2s ease;
	&:hover {
		transition: all 0.2s ease;
	}
}

@mixin wrapped {
	margin-top: 12rem;
	margin-bottom: 12rem;
	max-width: $wrap;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $wrap) {
		padding-left: 5vh;
		padding-right: 5vh;
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}

body {
	background: $blue;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1 {
	@include big;
}

.wrapped {
	@include wrapped;
}

.accordion {
	text-align: left;
	details {
		border: 1px solid #fff;
		border-radius: 8px;
		padding: 0.5rem 1rem;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}
	summary {
		font-weight: bold;
	}
}

#Header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	padding: 30px;
	z-index: 99;
	> div {
		display: flex;
		align-items: center;
	}
	.contact {
		display: inline-block;
		background: $green;
		color: $blue;
		padding: 0.5rem 1rem;
		text-decoration: none;
		font-weight: bold;
		@include fadeHover;
		img {
			margin-right: 0.5rem;
		}
		&:hover {
			background: $white;
		}
		@media (max-width: $mobWrap) {
			font-size: 0;
			padding: 0.5rem;
			img {
				margin: 0;
			}
		}
	}
	.home {
		display: inline-block;
		margin-left: 1rem;
		@include fadeHover;
		img {
			height: 20px;
			width: auto;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
}

#Hero {
	position: relative;
	display: flex;
	height: 70vh;
	width: 100%;
	align-items: flex-end;
	overflow: hidden;
	video {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		z-index: 0;
		transform: translateX(-50%) translateY(-50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
	&:after {
		content: '';
		height: 100%;
		width: 100%;
		background: $blue;
		opacity: 0.5;
		position: absolute;
		z-index: 1;
	}
	.content {
		padding-bottom: 10vh;
		width: 100%;
		max-width: $wrap;
		margin: 0 auto;
		position: relative;
		z-index: 10;

		color: $white;
		h1 {
			margin: 0;
			max-width: 70%;
		}
		span {
			color: $green;
			@include standard;
		}
		@media (max-width: $wrap) {
			padding-left: 5vh;
			padding-right: 5vh;
		}
	}
}

#intro {
	background: $green;
	display: flex;
	color: $blue;
	img {
		float: right;
		margin-left: 3rem;
		width: 273px;
		height: auto;
		@media (max-width: $mobWrap) {
			margin: 0 auto;
			width: 50%;
			height: auto;
			float: none;
			display: block;
			margin-bottom: 2rem;
		}
	}
	h2 {
		@include big;
		margin-top: 0;
	}
	.sub {
		@include standard;
	}
}

#Icons {
	text-align: center;
	color: #fff;
	h2 {
		@include mid;
		margin: 0;
	}
	.sub {
		@include mid;
		color: $green;
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4, 1fr);
		margin-top: 6rem;
		@media (max-width: $mobWrap) {
			grid-template-columns: repeat(2, 1fr);
		}
		.icon {
			padding: 3rem 1rem;
			border-radius: 5px;
			@include standard;
			background: rgba(255, 255, 255, 0.1);
			overflow: hidden;
			@media (max-width: $mobWrap) {
				padding: 1.5rem 0.5rem;
			}
			img {
				margin-bottom: 2rem;
				height: 130px;
				width: auto;
				@media (max-width: $mobWrap) {
					height: 80px;
					width: auto;
				}
			}
		}
	}
}

#Image {
	height: 800px;
	background-size: cover;
	background-position: center top;
	background-image: url('../assets/image.jpg');
	position: relative;
	&:after {
		top: 0;
		left: 0;
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: $blue;
		opacity: 0.5;
	}
}

#SingleMockup {
	background: #fff;
	color: $blue;
	display: flex;
	.wrapped {
		max-width: 1400px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		@media (max-width: $mobWrap) {
			grid-template-columns: 1fr;
		}
		h2 {
			@include mid;
			margin-bottom: 6rem;
			@media (max-width: $mobWrap) {
				margin-bottom: 2rem;
			}
		}
		ul {
			margin-top: 0;
			padding-left: 12rem;
			@media (max-width: $mobWrap) {
				padding: 0;
			}
			li {
				@include standard;
				margin-bottom: 0.5rem;
			}
		}
		img {
			height: 658px;
			margin-left: -200px;
			margin-right: -200px;
			width: auto;
			@media (max-width: $mobWrap) {
				height: 200px;
				width: auto;
				margin: 0;
			}
		}
	}
}

#Mockups {
	text-align: center;
	color: #fff;
	.text {
		@include standard;
		font-weight: bold;
	}
	img {
		margin-bottom: 3rem;
		max-width: 100%;
		height: auto;
	}
	.mockup-grid {
		display: grid;
		margin-top: 6rem;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: $mobWrap) {
			margin-top: 2rem;
			grid-template-columns: repeat(1, 1fr);
		}
		.screen {
			background-size: contain;
			background-position: center;
			height: 700px;
			background-repeat: no-repeat;
			display: flex;
			align-items: center;
			justify-content: center;
			.hover {
				transform: scale(0);
				transform-origin: center;
				//height: 80%;
				width: 50%;
				padding: 2rem;
				font-weight: bold;
				background: rgba(0, 0, 0, 0.5);
				@include fadeHover;
				border-radius: 8px;
			}
			&:hover,
			&.active {
				.hover {
					transform: scale(1);
				}
			}
		}
	}
}

#Greentext {
	color: $blue;
	background: $green;
	display: flex;
	h2 {
		@include big;
		font-weight: bold;
	}
	.content {
		@include standard;
		margin-left: 12rem;
		@media (max-width: $mobWrap) {
			margin-left: 0;
		}
	}
}

#Finish {
	text-align: center;
	color: #fff;
	.wrapped > img {
		max-width: 100%;
	}
	p {
		@include standard;
		font-weight: bold;
	}
	.wrapped {
		margin-bottom: 3rem;
	}
	.cta {
		display: inline-block;
		background: $green;
		color: $blue;
		@include standard;
		padding: 0.5rem 1rem;
		text-decoration: none;
		font-weight: bold;
		@include fadeHover;
		margin-top: 2rem;
		img {
			height: 24px;
			margin-right: 1rem;
		}
		&:hover {
			background: $white;
		}
	}
	.footer {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
		margin-top: 3rem;
		border-top: 1px solid rgba(255, 255, 255, 1);
		margin-bottom: 0;
		opacity: 0.5;
		.menu {
			a {
				color: #fff;
				text-decoration: None;
				padding-left: 1rem;
				padding-right: 1rem;
				border-left: 1px solid #fff;
				display: inline-block;
				&:first-child {
					border-left: 0px;
				}
			}
		}
	}
	.accids {
		margin-top: 3rem;
		padding-top: 3rem;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		@include standard;
		grid-gap: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: $mobWrap) {
			grid-template-columns: 1fr;
		}
	}
}
